.git
.gitignore
.cache/
.env
.env.*
!.env.example
!.env.production.example
**/bin
**/obj
**/target
**/_build
**/deps
**/node_modules
**/dist
**/build
**/.pytest_cache
**/__pycache__
**/*.egg-info
**/coverage
**/.coverage
**/.vscode
**/.DS_Store
**/*.log
